.card {
  display: grid;

  border-radius: 5px;
  background-color: white;
}

.card-image {
  position: relative;
}

.card-image__count {
  position: absolute;

  background-color: rgb(187 206 224);
  color: white;

  height: 22px;
  width: 21px;

  text-align: center;
  margin: 5px;
  border-radius: 3px;
}

.card-image__img {
  width: 100%;
  border-radius: 3px 3px 0 0;
}

.card-image__btn {
  position: absolute;
  text-align: center;

  color: white;
  background-color: #00000070;

  height: 50px;
  width: 150px;

  font-size: 17px;
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;

  transition: 0.5s ease;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.card-image:hover img {
  opacity: 0.3;
}

.card-image:hover button {
  opacity: 1;
}

.card-data {
  display: grid;
  padding: 25px;
}

.card-data__code {
  font-size: 13px;
  color: #9e9e9e;
}

.card-data__name {
  font-weight: 600;
}

.card-data__price {
  margin: 20px 0 20px;
  color: #9e9e9e;
}

.card-data__chart {
  width: 100%;
  height: 150px;
}
