.wh-coverage__span {
  text-align: right;
  color: #9e9e9e87;
  font-size: 13px;
}

.coverage-low__span {
  text-align: right;
  color: red;
}

.coverage-good__span {
  text-align: right;
  color: #8bc34a;
}
